{% extends 'tambda/competition_base.html' %} 
{% load static %} 

{% block competition_title %}
<h1>Pictures</h1>
{% endblock %}

{% block competition_content %}

<h3>Dances with Owls 2018</h3>
<a href="https://photos.google.com/share/AF1QipN4CsANieb2XrXeJBg1ZWuSNpJGLQbTCIccKDAFwxQhxdOm7Avw4tgD6C4YS7SC9g?key=M2pJWWwzcjVkSUVJYW14NlVZdkFELTk4ekFxaXhB">
Photos</a>
<a href="https://photos.google.com/share/AF1QipPGcgtU2eA2mmE8xnmeFEL41PaGOlmTrQIzVFIZDAKout4_0RG-rmrlVMFDP6jK7Q?key=bUdCckc1dDl1ZGFsZ1htaEFEbTJUVlpDWkdMX01R">
Vidoes</a>
<hr/>

<h3>SMU Ballroom Blitz 2018</h3>
<a href="https://drive.google.com/drive/folders/1IknU5vVvNw_QhFsce-F9ikRGWQ0kaB7O?usp=sharing">
Photos</a>
<hr/>

<h3>Austin Open 2018</h3>
<a href="https://drive.google.com/drive/folders/1IknU5vVvNw_QhFsce-F9ikRGWQ0kaB7O?usp=sharing">
Standard and Smooth</a>
<a href="https://photos.google.com/share/AF1QipP-QJZ42YLCKB2ch8Mun0X0VVkyuW-SH179d--femAXWv-3eLshgKfV21iIQh-Q3Q?key=UzhucmxmTm03ZUp5bGppekFBazl0MjM5MXNkdHRR">
Latin &amp; Rhythm</a>
<a href="https://photos.google.com/share/AF1QipOzehaTU4Qg40NAPDe_hrN337Yd5Ifsvj7NigffV_O97xYVpeyevk0YNaowclKmUQ?key=ODQ0SUYtVnMxVjBSMDRxei0zRTd4MGxKQTJXM0Fn">
Country and Social</a>
<hr/>

{% endblock %}