{% extends 'tambda/competition_base.html' %} 
{% load static %} 

{% block competition_title %}
<h1>Syllabus</h1>
{% endblock %}

{% block competition_content %}
<h3>Used at Rice's Dances with Owls competition</h2>
<a href="https://ndca.org/pdf/2018%20July%20-%205%20-%20NDCA%20APPROVED%20FIGURES%20ELEMENTS%20and%20RESTRICTIONS%20July%202018.pdf">
NDCA Approved Figures, Elements, and Restrictions&ndash;2018</a>
<a href="http://www.usadance.org/_DOCS/Governance/Rules,%20Policies%20&%20Bylaws/2016A%20Syllabus%20Guidebook-Rules%202016A%20Real-Final3.pdf?fbclid=IwAR0S9vbso7Sr524fnn1x1gQtqyywIsbGlXytPk0Cbdp1Vupt6nusVqlAINY">
USA Dance Syllabus GUidebook 2016a</a>
<a href="https://www.youtube.com/user/NationalDanceCouncil/playlists?sort=dd&shelf_id=6&view=50">
NDCA Syllabus Videos (written syllabus supersedes these videos)</a>
<a href="http://www.usadance.org/_DOCS/Governance/Rules,%20Policies%20&%20Bylaws/2018c%20DanceSport%20Rulebook%20Edition%20Edits%206-17-18.pdf">
USA DanceSport Rulebook</a>

{% endblock %}