{% extends 'tambda/competition_base.html' %} 
{% load static %} 

{% block competition_title %}
<h1>Competitions</h1>
{% endblock %}

{% block competition_content %}
  <h2>Next Competition is University of Houston in February 2019!</h2>
  <h2>Come to comp prep this semester to be eligible!</h2>

  <h3>Tips and tricks for competitive ballroom dance</h3>

  <h4>How judging works.</h4>
  <p>
    The judges typically don't move very much. They're set up around the floor
    and have a sheet with everyone's number. Since there are judges (duh) and
    they're stationary, competitive ballroom takes on a different form than
    social ballroom. You have to navigate the floor around other couples while
    getting the judges' attention.
  </p>

  <h4>The Obstacles to Overcome.</h4>
  <p>The judges stay in one place.</p>
  <p>
    They determine who goes into the next round by the number of judges who say
    "yes, send them forwards" or in the finals who say, "give this couple first
    place!"
  </p>
  <p>
    They often can't get a good idea of which couple is definitely better than
    another or they may have space to send one more couple forwards but didn't
    catch enough performances to fill it.
  </p>

  <h4>How to Beat the System.</h4>

  <p>
    When you're in line, waiting to go on the floor, have big, EXTRA smiles and
    flourish your positioning. The judges might not get a good view of you when
    you dance, but if you look good coming on and off the floor, they might send
    you on ahead. The same goes for going off the floor&mdash;bow, smile big,
    and have energy. Don't ever look tired, even if you just did three 2 minute
    jives and are going back on for a third.
  </p>
  <p>
    When you walk onto the floor for a dance that doesn't move around, find a
    spot with several judges who can get a good view of you. For a dance that
    travels, do the basic well around the floor, then do you're cool stuff right
    in front of the judges. Make them see you.
  </p>
  <p>
    It's better, especially at early levels, to do the basics well than a bunch
    of moves poorly. You WILL place well if you've mastered the basics and
    nothing else!
  </p>

  <h4>How the Event Works</h4>
  <p>
    Sign in. Leads will get their number for the event and pin it to their back.
    Leads and follows need to memorize this.
  </p>

  <p>Get dressed.</p>

  <p>
    Check the heatlist&mdash;a heat list is posted along the wall. It's a
    detailed schedule of the order of events and what heat number the event is.
    Each level of each dance (like Bronze Waltz, Silver Tango, Gold Jive...) is
    given a number and called a heat. There are quarter and semi-finals for most
    dance. Write down the order, the number, and your partner for each dance
    you're competing in on a paper you can keep with you.
  </p>

  <p>
    A screen will also display the current round of dancing (like the
    semi-final, quarter-final, or final of the heat number) and the next few
    rounds afterwards. Pay attention to this to know when your next dance is up.
    Most of the time they will go through the first few quarter or semi finals
    and then repeat them for the next qualifying round or final (1 quarter
    final, 2 quarter final, 3 quarter final, 1 semi final, 2 semi final, 3 semi
    final and so on).
  </p>

  <p>Get in line for your event when the round before you go onto the floor.</p>

  <p>
    Announcers will call your number and cue you to walk from the on-deck area
    onto the floor. They might give you a second notice if you aren't there in
    time and a tiny window to get onto the floor, otherwise you may miss your
    dance!
  </p>

  <p>
    <strong
      >tl;dr pay attention to the papers on the wall, the screen, and the
      announcers!
    </strong>
  </p>
{% endblock %}