{% extends 'tambda/competition_base.html' %} 
{% load static %} 

{% block competition_title %}
<h1>Forms</h1>
{% endblock %} 

{% block competition_content %}
<h3>Release Waiver&mdash;due prior to travel to competition</h3>

<p>
  In the space directly after "all activities of competition trip to" write the
  name of the competition or its location.
</p>
<p>Provide Emergency contact info</p>
<p>Skip the insurance section</p>

<p>account number: 951560</p>
<p>Student organization name: Texas A&M Ballroom Dance Association</p>
<p>
  in the space directly after "all activities of competition trip to" write the
  name of the competition or its location.
</p>
<p>in the space directly after "sponsored by" write: TAMBDA</p>
<p>
  in the space directly after "limited to" write: injury, death, lost or stolen
  possessions, and car damages
</p>

{% endblock %}