{% extends 'tambda/competition_base.html' %} 
{% load static %} 

{% block competition_title %}
<h1>Packing List</h1>
{% endblock %}

{% block competition_content %}
<ol>
<li>Bring a Printed copy of your partner assignments</li>
<li>Bring the hosting university's rec center release waiver (found under forms).</li>
<li>$10 cash for the workshop and social</li>
<li>$5-$10 cash for your driver</li>
<li>I would bring cash/card for lunch because parent will probably go get it for us. We will probably order on our phones and pay via our phones.</li>
<li><strong>BRING SNACKAGE</strong> to eat throughout the competition: granola bars, cheese-its, candy, fruit -- Anything that floats your goat. </li>
<li>Bring a water bottle</li>
<li>Pack:</li>
<ul>
    <li>Towel
    <li>Toiletries (deodorant- I don't want to smell your "dance for 12 hours"- funk)</li>
    <li>Sleeping bag or blanket</li>
    <li>Pillow</li>
    <li>Pjs</li>
    <li>Bring Texas A&M clothes (shirt, jacket, ...): Rep the Maroon and White at the competition when we aren't dancing</li>
    <li>Clothes to go home in</li>
    <li>Comfortable shoes to wear when you aren't dancing</li>
    <li>Remember to bring a change of clothes to competition to wear afterwards</li>
    <li>TAMBDA SHIRT!!!</li>
</ul>
<li>Guys</li>
<ul>
    <li>Bring a country western outfit- jeans, country shirt, and cowboy boots​​ (optional)</li>
    <li>Bring 2 dress shirts (one for Standard/Smooth and one for Latin/Rhythm)</li>
    <li>Bring a vest (optional) </li>
    <li>Bring a bow tie (optional)</li>
    <li>A pair of black dress pants</li>
    <li>Dance shoes</li>
</ul>
<li>Girls</li>
<ul>
    <li>It's a good idea to put dresses in a dress bag with your name on it somewhere (optional). Bring your dresses hung up on a hanger.</li>
    <li>Bring a country western outfit (see my previous email for suggestions on what to wear)</li>
    <li>Standard/Smooth dress</li>
    <li>Latin/Rhythm Dress</li>
    <li>Social outfit (optional)</li>
    <li>Bring an outfit to wear to the social on Friday</li>
    <li>BRING BOOTY SHORTS or LEOTARD to wear under your dress</li>
    <li>Bring the appropriate undergarments to wear under your dress</li>
    <li>Bring comfortable shoes to wear when you aren't dancing</li>
    <li>Makeup</li>
    <li>Jacket in case your cold</li>
    <li>HAIRSPRAY and BOBBY PINS</li>
    <li>Lipstick</li>
</ul>
</ol>
{% endblock %}
