{% extends 'tambda/competition_base.html' %} 
{% load static %} 

{% block competition_title %}
<h1>Attire</h1>
{% endblock %} 

{% block competition_content %}
<h3>Footwear</h3>

<p>Suede bottomed ballroom shoes and heels (with heel covers).</p>

<p>For exception see Country-Western.</p>

<h3>Smooth and Standard</h3>

<h4>Newcomer, non-costume Attire:</h4>

<p>
  Leads: Dark slacks and white button up collared shirt, optional tie and vest.
</p>

<p>
  Follows: Leotards with wrap skirts, cocktail dresses, long full skirts,
  jewelry is optional.
</p>

<h4>Bronze and Silver, costume optional attire:</h4>

<p>
  Same as above but costumes with rhinestones, feathers, and floats, which
  qualify attire as a costume, are acceptable.
</p>

<h3>Rhythm and Latin</h3>
<h4>Newcomer, non-costume attire:</h4>

<p>
  Leads: dark slacks, black or white collared shirt, black T-shirt with no logos
  or black turtleneck.
</p>
<p>
  Follows: Similar to Standard dress code. Shorter skirts or dresses are
  acceptable. Similar to purple dress (minus rhinestones).
</p>

<h4>Bronze and above, costume optional attire:</h4>

<p>Similar to white costumes (rhinestones, feathers, and costumes allowed).</p>

<h3>Country-Western</h3>
<p>
  You're Aggies. You should know this already. But if not, try something like
  this image.
</p>

<p>Boots and cowboy hats are optional.</p>

{% endblock %}
