{% extends 'tambda/competition_base.html' %} 
{% load static %} 

{% block competition_title %}
<h1>Links</h1>
{% endblock %}

{% block competition_content %}
<p>
    A great site with lots of resources, namely demonstrations of international moves.
    <a href="http://www.ballroomguide.com/">Ballroom Guide</a>
</p>
<p>
    My favorite source of ballroom videos and resources. Lots of technique and variations of international moves. 
    <a href="https://www.danceinsanity.com/">https://www.danceinsanity.com/</a>
</p>
{% endblock %}