{% extends 'base.html' %}
{% block section %}section-home{% endblock %}

{% block content %}

<h1>Home</h1>
<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/dist/pa-embed-player.min.js" async></script>
<div class="pa-embed-player" style="width:100%; height:480px; display:none;"
  data-link="https://photos.app.goo.gl/z3tPiX2xjrAzR34C9"
  data-title="Sample album"
  data-description="14 new photos · Album by Kyle Shores">
  <img data-src="https://lh3.googleusercontent.com/vZ49t82CyCtL3N97V94JQGSV_wuXbANepT5qhhftrZaCIYaz2hw9vZBFUMrX7vYZVO47LtG3H77jPPqTK1MVO-cbvzjopH6blL-MwVI61Ola6XfD24Pe_zlRpy2pyfLBdhHo7-9xiw=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/YGfX8wxXZz2sq4f3a_2ol8_7h3W9lLzf3K7-XJSd_TQdVzTje9F1rSJROcLn-EGy8K9W03PIhbNQL1w3Y81bgRf0VMThA1u-plAu-UPU8FxAKGy59j7kpd1aHkh590A49T8uutx5nw=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/HW9e4S2K2bQ4O4Zu6Xf0E4cgSw5jWvrPaqTbUolvX8tZr_-qFe6kSDA95e-ww2Qfhn8QRLli5dLsHBEXM2WkwXPECAYb0DNzgaMnrM8_HgK3EyOdnqCmS5rILuE0PR3ShhI5vxuLVg=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/JzqeVGyGLPKnFg_XFlK0K6vNlDNgomOS3Uo0L0O0nOnMoiVamyiYIxcne2li9uTNqgY3Ji65W9yAbgo4RHAGEiNIUM6-1c8qNAyjwVQl-ThBRgkb2WKrdUjNCs9svSqkQYXyQW8c8Q=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/sheTf0C5n8TiKovg0otvN4o_DN4MX0XG5wzGegu1PkKPXlU-5LNYvozum55xEG_TBkuAlbZaZ67LLom7Js-FW32RPqAuvKI8K8sskHs2-2AeUfzkYXQo8HRHekszNTw6NCNUKVGLgA=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/XjXTV0Q_VvqHkPAnfQxEBVnpULovkoLpcEKOgHvBKhGtMYwBKMNb6bGRh_oDP-wKRs_tdQVA45f-8asS65lnjwM5bQIU8FfLPG_JhOoj3CdKwppMRCgYwVIr5yO0W2n9DnMWbV8Z7A=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/PrM4_DX_hKgIiyGAK0b5fcsIvp8IvkVLhxqhCohCP2H4fOXwhcF54kJZTgfhwVJnJx2CChDv5emlhfn756mMdda86Twv6MjhgBWQ00s9PTY2kd3clQQY9XmSm8yUKYxMbZRrnYVmVQ=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/FWO5pDTKoZ2D-B_Lc9Upx6P3irLhg-wUuNBjNebK0kbmuCm2lF6az5CrbZ_Ye23w9qF_7dy4bU3XYqF1gIlJwW9V0H7ip_iwC9clvIQLmBM_VimiaidrLws29SPZdm-7xwjMzJJGNw=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/blcP0NZODNIDJbh_uAXlpQyCkjb7ZqzLUHG-lzYDX4nAFDCU2zq3UzoEf2Wfn9xKFSEN3TLKVUzAS4u-6JrZ43tbFODJ3m3ydNDv6vgwIUMsDgDkJPUoSB8P27Fj7UTPqSxi7ZjVig=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/WsRQSf2zIDgGXbZ44ROCuIsPK-8buDtJD8OSxwXwR2XpHgARw-cgBuv_qYOcT-RS8Hba6_LbYVRRj-2LgtII-jWq73LUC42ZWI-uALmmvv7yFgWZ9-z4G8Ulsa1D2a8fgiyObNl2Aw=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/KE-8qzIWH9JruEGRy0sU3euiZIcDyZWyW8B9C87xBRbNkI0sdy-Kyf7udOr0y1He3YnSP40erpXZRo5DdDOlTF8tcomSpobrTmYb62uUtzF7jkuOQrxkAmk_T1OMK8wJ0oOfHhJKYg=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/QfDkXiI8_uIyEYGdjamOZv2tOOIEuKYn2sZTbzAA0vBQfs3wxuj_L6k-scls4c3fxghQaMygzAmWANeVf7arF9SDljkAVJJzfl0D_Nk0jndflJ2QQiBYiabqCD1vRFF-raJ_lvXG1g=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/SR8kW1wwor2yOPt7Tx_AC13gBxTr85e3_A0omFfWIhTGIIu-pMYQyLezCLWQeMtLDiDn4980qGtRCPwX-ZSNDktTR_RTPUbdQ30vexMo0H-BKoNYNsjenlbE-Yqz8GQp1OZEehjspQ=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/TnxAPKIll97c3HjxWp3wpFLZTmAgD06OywwWmlLmNzjggeJfAHsspMmwquMqHvESqFRmRMqucNDHIU0xQmcrUeotM4pKW0P1LUs56Vxh6RhlWf0H3O8-8WrkexbT2q48XFwo_sfpBw=w1920-h1080" src="" alt="" />
</div>

{% endblock %}