{% extends 'base.html' %}
{% block section %}section-home{% endblock %}

{% block content %}

<h1>Texas A&amp;M Ballroom Dance Association</h1>
<p>
    We are the Texas A&amp;M Ballroom Dance Association! We're a friendly group that promotes health and well-being
    through ballroom dance and friendships.
</p>
<p>
    Each semester we learn four dances and have three dance socials. There are numerous other hangout opportunities that usually involve
    a fair amount of food and quite often board games.
</p>

{% endblock %}