{% extends 'base.html' %}
{% load static %}

{% block section %}section-officer{% endblock %}

{% block content %}
<h1>Officers</h1>

<div class="officer">
    <h3>Michael</h3>
    <img src="{% static 'img/michael.png' %}">
</div>

<div class="officer">
    <h3>Katie</h3>
    <img src="{% static 'img/katie.png' %}">
</div>

<div class="officer">
    <h3>Carlie</h3>
    <img src="{% static 'img/Carlie.png' %}">
</div>

<div class="officer">
    <h3>Dani</h3>
    <img src="{% static 'img/Dani.png' %}">
</div>

<div class="officer">
    <h3>Sam</h3>
    <img src="{% static 'img/Sam.png' %}">
</div>
{% endblock %}