{% extends 'base.html' %}
{% load static %}

{% block section %}section-officers{% endblock %}

{% block content %}
<h1>Officers</h1>

<div class="officer">
    <h3>Michael</h3>
    <img src="{% static 'img/michael.png' %}">
</div>

<div class="officer">
    <h3>Katie</h3>
    <img src="{% static 'img/katie.png' %}">
</div>

<div class="officer">
    <h3>Carlie</h3>
    <img src="{% static 'img/carlie.png' %}">
</div>

<div class="officer">
    <h3>Dani</h3>
    <img src="{% static 'img/dani.png' %}">
</div>

<div class="officer">
    <h3>Sam</h3>
    <img src="{% static 'img/sam.png' %}">
</div>

<div class="officer">
    <h3>Jacob</h3>
    <img src="{% static 'img/jacob.png' %}">
</div>

<div class="officer">
    <h3>Nicki</h3>
    <img src="{% static 'img/nicki.png' %}">
</div>
{% endblock %}