.navbar{
    background-color: #500000;
}

.navbar-brand{
    font-family: 'Charm', cursive;
}

.navbar a.navbar-brand {
    color: white;
}

.navbar .btn-secondary{
    border-color: #707373;
    color: #707373;
}

.navbar .btn-primary{
    border-color: #003C71;
    color: #003C71;
}

.navbar #navbarNavDropdown ul li a{
    color: white;
}
