.navbar{
    font-family: 'Nanum Gothic', sans-serif;
}

.body{
    font-family: 'Nanum Gothic', sans-serif;
}

.navbar{
    background-color: #500000;
}

.navbar a.navbar-brand {
    color: white;
}

.navbar a.navbar-brand:hover {
    color: #5B6236;
}

.navbar .btn-secondary{
    background-color: #5B6236;
    border-color: white;
}

.navbar .btn-primary{
    background-color: #003C71;
    border-color: white;
}

.navbar #navbarNavDropdown ul li a{
    color: white;
}

.navbar #navbarNavDropdown ul:hover li:hover a:hover{
    color: #5B6236;
}
