.main-content {
  display: grid;
  grid-template-rows: 20% 1fr;
  grid-template-areas:
    "song-and-dance-title"
    "song-and-dance-grid-container";
  background-color: transparent;
}

.main-content h1 {
  padding: 10px;
}

.song-and-dance-title {
  grid-area: "song-and-dance-title";
}

.song-and-dance-grid-container {
  grid-area: song-and-dance-grid-container;
  display: grid;
  grid-template-rows: 20% 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "standard latin social"
    "standard-dances latin-dances social-dances";
  grid-gap: 2px;
  border-radius: 5px;
}

.standard,
.latin,
.social,
.standard-dances,
.latin-dances,
.social-dances {
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.standard {
  grid-area: standard;
}

.standard-dances {
  grid-area: standard-dances;
}

.latin {
  grid-area: latin;
}

.latin-dances {
  grid-area: latin-dances;
}

.social {
  grid-area: social;
}

.social-dances {
  grid-area: social-dances;
}

.select-checkbox option::before {
  width: 1.3em;
  text-align: center;
  display: inline-block;
}

input[type="checkbox"] {
  opacity: 0;
}

.song-and-dance-grid-container label {
  padding: 5px 10px 5px 10px;
  width: 100%;
  height: 18%;
  color: white;
  background-color: rgba(80, 0, 0, 0.8);
  border: 1px solid;
  border-color: rgba(80, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.song-and-dance-grid-container label:hover {
  color: #500000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.song-and-dance-grid-container input[type="checkbox"]:checked + label {
  color: #500000;
  background-color: white;
}

#dance-select {
  display: none;
}

#btn-generate-playlist {
  padding: 20px 10px;
  background-color: rgba(112, 115, 115, 1);
  border: none;
}
