{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}Texas A&amp;M Ballroom Dance Association{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    {% block stylesheet %}{% endblock %}
</head>

{% block body %}

<body id="{% block section %}section-generic{% endblock %}">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand nav-home" href="{% url 'home' %}">TAMBDA</a>
        <button class="navbar-toggler navbar-dark ml-auto border border-white" type="button" data-toggle="collapse"
            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ user.username }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <a class="dropdown-item" href="{% url 'my_account' %}">My account</a>
                        <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                    </ul>
                </li>
                {% else %}
                <li> <a href="{% url 'login' %}" class="nav-link">Log in</a> </li>
                <li> <a href="{% url 'signup' %}" class="nav-link">Sign up</a> </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="navbar navbar-dark navbar-fixed-left rounded-right">
        <ul class="nav navbar-nav mb-auto">
            <li> <a class="nav-link nav-lessons" href="{% url 'lessons' %}">Lessons</a> </li>
            <li> <a class="nav-link nav-competitions" href="{% url 'competitions' %}">Competitions</a> </li>
            <li> <a class="nav-link nav-performance-team" href="{% url 'performance_team' %}">Performance Team</a> </li>
            <li> <a class="nav-link nav-song-and-dance" href="{% url 'song_and_dance' %}">Song &amp; Dance Library</a>
            </li>
        </ul>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block javascript %}{% endblock %}
</body>
{% endblock %}

</html>