/* hamburger courtesy of https://codepen.io/fourjuaneight/pen/xppPWw, thanks Juan! */

body {
  font-family: "Nanum Gothic", sans-serif;
  color: black;
  background-image: url(../img/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-container {
  display: grid;
  grid-template-rows: 10% 1fr;
  grid-template-areas: "mobile-header" "main-content";
  width: 100vw;
  height: 100vh;
  position: absolute;
}

/* hide the sidebar on mobile */
.sidebar {
  display: none;
}

/* Main content */
.main-content {
  grid-area: main-content;
  text-align: center;
  max-height: 100%;
  overflow-y: auto;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 10px;
  color: black;
}

.main-content div.officer img {
  width: 200px;
}

.main-content h1 {
  padding-bottom: 10%;
}

.main-content p {
  padding: 0 15% 0 15%;
}

/* Mobile header */
.mobile-header {
  background-color: rgba(80, 0, 0, 0.8);
  grid-area: mobile-header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Hamburger styling */
.mobile-header .hamburger {
  width: 50px;
  height: 45px;
  padding: 50px;
  z-index: 5;
}

.mobile-header .hamburger div {
  position: relative;
  width: 50px;
  height: 5px;
  background-color: white;
  margin-top: 7px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.mobile-header #toggle {
  display: none;
}

/* Hamburger Animation */
.mobile-header #toggle:checked + .hamburger .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 22.5px;
}

.mobile-header #toggle:checked + .hamburger .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -5px;
}

.mobile-header #toggle:checked + .hamburger .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
}

.mobile-header #toggle:checked + .hamburger + .nav {
  top: 0;
}

/* Menu Styling */
.mobile-header .nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 0, 0, 0.8);
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mobile-header .nav .nav-wrapper {
  position: relative;
  overflow-y: auto;
  height: 100%;
}

.mobile-header nav {
  font: 700 20px "Oswald", sans-serif;
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mobile-header nav a {
  width: 100%;
  padding: 10px 0;
  margin-top: 15px;
  color: white;
  opacity: 0;
  text-decoration: none;
  font-size: 2.3em;
  letter-spacing: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mobile-header nav a:hover {
  color: #fce300;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mobile-header nav a:first-child {
  margin-top: 0;
}

/* Dropdown Animation */
.mobile-header #toggle:checked + .hamburger + .nav .nav-wrapper nav a {
  opacity: 0.9;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* anchor animation */
.mobile-header a {
  text-decoration: none;
  color: white;
  text-align: center;
}

/* make the home brand largish */
.mobile-header .tambda-brand {
  margin-left: 10px;
  font-size: 3em;
}

#section-lessons .mobile-header a.nav-lessons,
#section-competitions .mobile-header a.nav-competitions,
#section-song-and-dance .mobile-header a.nav-song-and-dance,
#section-officers .mobile-header a.nav-officers,
#section-contact-us .mobile-header a.nav-contact-us,
#section-performance-team .mobile-header a.nav-performance-team {
  color: #500000;
}

#section-home .mobile-header a.nav-home:hover,
#section-lessons .mobile-header a.nav-lessons:hover,
#section-competitions .mobile-header a.nav-competitions:hover,
#section-song-and-dance .mobile-header a.nav-song-and-dance:hover,
#section-officers .mobile-header a.nav-officers:hover,
#section-contact-us .mobile-header a.nav-contact-us:hover,
#section-performance-team .mobile-header a.nav-performance-team:hover {
  color: #fce300;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#section-lessons .mobile-header a.nav-lessons,
#section-competitions .mobile-header a.nav-competitions,
#section-song-and-dance .mobile-header a.nav-song-and-dance,
#section-officers .mobile-header a.nav-officers,
#section-contact-us .mobile-header a.nav-contact-us,
#section-performance-team .mobile-header a.nav-performance-team {
  background-color: white;
}

/* desktop view */
@media only screen and (min-width: 992px) {
  .mobile-header {
    display: none;
  }

  .grid-container {
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar main-content";
  }

  /* Sidebar content styling */
  .sidebar {
    display: block;
    grid-area: sidebar;
    background-color: rgba(80, 0, 0, 0.8);
  }

  .sidebar a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 5px 0px;
  }

  .sidebar a:hover {
    color: #fce300;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .sidebar div.sidebar-brand {
    height: 15%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .sidebar a.tambda-brand {
    font-size: 3em;
  }

  .sidebar div.sidebar-main-links {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .sidebar div.sidebar-main-links a {
    font-size: 15pt;
  }

  .sidebar div.sidebar-account-links {
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #section-competitions .sidebar a.nav-competitions,
  #section-contact-us .sidebar a.nav-contact-us,
  #section-lessons .sidebar a.nav-lessons,
  #section-officers .sidebar a.nav-officers,
  #section-performance-team .sidebar a.nav-performance-team,
  #section-song-and-dance .sidebar a.nav-song-and-dance {
    color: #500000;
  }

  #section-competitions .sidebar a.nav-competitions:hover,
  #section-contact-us .sidebar a.nav-contact-us:hover,
  #section-home .sidebar a.nav-home:hover,
  #section-lessons .sidebar a.nav-lessons:hover,
  #section-officers .sidebar a.nav-officers:hover,
  #section-performance-team .sidebar a.nav-performance-team:hover,
  #section-song-and-dance .sidebar a.nav-song-and-dance:hover {
    color: #fce300;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  /* add a block of color around the navigational links, but not the website brand */
  #section-competitions .sidebar a.nav-competitions,
  #section-contact-us .sidebar a.nav-contact-us, 
  #section-lessons .sidebar a.nav-lessons,
  #section-officers .sidebar a.nav-officers,
  #section-performance-team .sidebar a.nav-performance-team,
  #section-song-and-dance .sidebar a.nav-song-and-dance {
    background-color: white;
  }
}
