html {
  height: 100vh;
}

/* Both mobile and desktop view styles */
body {
  height: 100vh;
  font-family: "Oswald", sans-serif;
  font-family: "Crimson Text", "Georgia", serif;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  background-image: url(../img/background1.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.grid-container {
  display: grid;
  grid-template-rows: 10% 1fr;
  grid-template-areas: "navigation""main-content";
}

/* Main content */
.main-content {
  grid-area: main-content;
  text-align: center;
  overflow-y: auto;
  border-radius: 10px;
  color: black;
  background-color: rgba(255, 255, 255, 0.65);
  font-size: 2rem;
}

.main-content div.officer img {
  width: 200px;
}

.main-content h1 {
  padding-bottom: 10%;
}

.main-content p {
  padding: 0 15% 0 15%;
}

/* make the home brand largish */
.navigation .tambda-brand {
  margin: auto;
  font-size: 3em;
  text-decoration: none;
  color: white;
  padding: 0 15%;
}

.navigation .nav ul {
  width: 100%;
  padding: 5% 0;
}

.navigation .nav ul.submenu {
  padding-top: 10%;
}

.navigation li {
  list-style-type: none;
}

#section-lessons .navigation li.nav-lessons a,
#section-competitions .navigation li.nav-competitions a,
#section-song-and-dance .navigation li.nav-song-and-dance a,
#section-officers .navigation li.nav-officers a,
#section-contact-us .navigation li.nav-contact-us a,
#section-performance-team .navigation li.nav-performance-team a {
  color: #500000;
}

#section-home .navigation li.nav-home a:hover,
#section-lessons .navigation li.nav-lessons a:hover,
#section-competitions .navigation li.nav-competitions a:hover,
#section-song-and-dance .navigation li.nav-song-and-dance a:hover,
#section-officers .navigation li.nav-officers a:hover,
#section-contact-us .navigation li.nav-contact-us a:hover,
#section-performance-team .navigation li.nav-performance-team a:hover {
  color: #fce300;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#section-lessons .navigation li.nav-lessons,
#section-competitions .navigation li.nav-competitions,
#section-song-and-dance .navigation li.nav-song-and-dance,
#section-officers .navigation li.nav-officers,
#section-contact-us .navigation li.nav-contact-us,
#section-performance-team .navigation li.nav-performance-team {
  background-color: white;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

ul.submenu li {
  margin: 0 0;
}

ul.submenu li a {
  text-align: right;
}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  display: none;
  overflow: hidden;
  max-height: 100%;
}

a.nav-competitions::after {
  content: "\25BC";
}

.navigation #submenu-toggle:checked + li.nav-competitions a.nav-competitions::after {
  content: "\25B2";
}


/* Menu Styling for mobile nav*/
@media only screen and (max-width: 991px) {
  .navigation .nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .navigation .nav .nav-wrapper {
    position: relative;
    overflow-y: auto;
    height: 100%;
  }

  .navigation nav {
    background-color: rgba(80, 0, 0, 0.8);
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  /* Mobile navigation */
  .navigation {
    background-color: rgba(80, 0, 0, 0.8);
    grid-area: navigation;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* hamburger courtesy of https://codepen.io/fourjuaneight/pen/xppPWw, thanks Juan! */
  /* Hamburger styling */
  .navigation .hamburger {
    width: 50px;
    height: 45px;
    padding: 50px;
    z-index: 5;
  }

  .navigation .hamburger div {
    position: relative;
    width: 50px;
    height: 5px;
    background-color: white;
    margin-top: 7px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .navigation #toggle, #submenu-toggle{
    display: none;
  }

  /* Hamburger Animation */
  .navigation #toggle:checked+.hamburger .top {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 22.5px;
  }

  .navigation #toggle:checked+.hamburger .meat {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -5px;
  }

  .navigation #toggle:checked+.hamburger .bottom {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  .navigation #toggle:checked+.hamburger+.nav {
    top: 0;
  }

  .navigation nav {
    font: 700 20px "Oswald", sans-serif;
    text-align: center;
  }

  .navigation .nav a {
    width: 100%;
    padding: 10px 0;
    margin-top: 15px;
    color: white;
    opacity: 0;
    text-decoration: none;
    font-size: 2.3em;
    letter-spacing: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .navigation nav a:hover {
    color: #fce300;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .navigation nav a:first-child {
    margin-top: 0;
  }

  /* Dropdown Animation */
  .navigation #toggle:checked+.hamburger+.nav .nav-wrapper nav a {
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  li.nav-competitions:hover .submenu,
  li.nav-competitions:active .submenu {
    display: block;
  }

}

/* desktop view */
@media only screen and (min-width: 992px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
  }

  .grid-container {
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "navigation main-content";
  }

  .navigation {
    grid-area: navigation;
    display: grid;
    grid-template-rows: 10% 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "brand"
      "navigation-links";
  }

  .main-content {
    grid-area: main-content;
    margin-left: 10px;
  }

  .navigation .hamburger,
  #toggle,
  #submenu-toggle {
    display: none;
  }

  .navigation .brand {
    grid-area: brand;
    display: block;
  }

  .navigation {
    background-color: rgba(80, 0, 0, 0.8);
  }

  .navigation .nav {
    grid-area: navigation-links;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .navigation .nav li {
    text-align: center;
    padding: 5% 0;
  }

  .navigation .nav a {
    text-decoration: none;
    color: white;
  }

  .navigation .nav a:hover {
    color: #fce300;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .navigation .nav li a:hover {
    color: #fce300;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .navigation .nav .nav-wrapper,
  .navigation .nav .nav-wrapper nav {
    width: 100%;
    height: 100%;
  }

  li.nav-competitions:hover+ul li.nav-competitions {
    background-color: transparent;
    color: white;
  }

  .navigation #submenu-toggle:checked + li ul {
    display: block;
  }
}