body {
  font-family: "Nanum Gothic", sans-serif;
  color: white;
}

body:before {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0.9;
}

/* Grid Setup */
.grid-container {
  display: grid;
  grid-template-rows: 10% 1fr 10%;
  grid-template-areas:
    "mobile-header"
    "main-content"
    "footer";
  grid-gap: 10px;
  width: 100vw;
  height: 100vh;
}

/* Mobile header styling */
.mobile-header {
  background-color: rgba(80, 0, 0, 0.8);
  grid-area: mobile-header;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mobile-header a {
  text-decoration: none;
  color: #5b6236;
  text-align: center;
}

/* hamburger courtesy of https://codepen.io/fourjuaneight/pen/xppPWw, thanks Juan! */
/* Hamburger Styling */
.mobile-header .hamburger {
  position: absolute;
  width: 50px;
  height: 45px;
  top: 10px;
  right: 20px;
  z-index: 5;
}

.mobile-header .hamburger div {
  position: relative;
  width: 50px;
  height: 5px;

  background-color: rgb(91, 98, 54);
  margin-top: 7px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.mobile-header #toggle {
  display: none;
}

/* Hamburger Animation */
.mobile-header #toggle:checked + .hamburger .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 22.5px;
}

.mobile-header #toggle:checked + .hamburger .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -5px;
}

.mobile-header #toggle:checked + .hamburger .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
}

.mobile-header #toggle:checked + .hamburger + .nav {
  top: 0;
}

/* Menu Styling */
.mobile-header .nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 0, 0, 0.8);
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mobile-header .nav .nav-wrapper {
  position: relative;
  overflow-y: auto;
  height: 100%;
}

.mobile-header nav {
  font: 700 20px "Oswald", sans-serif;
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mobile-header nav a {
  width: 100%;
  padding: 10px 0;
  margin-top: 15px;
  color: #5b6236;
  opacity: 0;
  text-decoration: none;
  font-size: 2.3em;
  letter-spacing: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mobile-header nav a:hover {
  color: #fce300;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mobile-header nav a:first-child {
  margin-top: 0;
}

/* Dropdown Animation */
.mobile-header #toggle:checked + .hamburger + .nav .nav-wrapper nav a {
  opacity: 0.9;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#section-home .mobile-header a.nav-home,
#section-lessons .mobile-header a.nav-lessons,
#section-competitions .mobile-header a.nav-competitions,
#section-song-and-dance .mobile-header a.nav-song-and-dance,
#section-performance-team .mobile-header a.nav-performance-team {
  color: #5b6236;
}

#section-home .mobile-header a.nav-home:hover,
#section-lessons .mobile-header a.nav-lessons:hover,
#section-competitions .mobile-header a.nav-competitions:hover,
#section-song-and-dance .mobile-header a.nav-song-and-dance:hover,
#section-performance-team .mobile-header a.nav-performance-team:hover {
  color: #fce300;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* add a block of color around the navigational links, but not the website brand */
#section-lessons a.nav-lessons,
#section-competitions a.nav-competitions,
#section-song-and-dance a.nav-song-and-dance,
#section-performance-team a.nav-performance-team {
  background-color: rgba(0, 60, 113, 0.4);
}

.sidebar {
  display: none;
}

.main-content {
  grid-area: main-content;
  text-align: center;
}

.blank {
  display: none;
}

.footer {
  grid-area: footer;
  background-color: rgba(80, 0, 0, 0.8);
}

/* Main content styling */
.main-content h1 {
  padding-bottom: 10%;
}

.main-content p {
  padding: 0 15% 0 15%;
}

/* Footer styling */
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer a {
  margin: 2px;
  padding: 2px;
  color: #5b6236;
  text-decoration: none;
}

.footer a:hover {
  color: #003c71;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer div.footer-links {
  text-align: center;
  font-weight: bold;
}

/* desktop view */
@media only screen and (min-width: 992px) {
  .mobile-header {
    display: none;
  }

  .footer {
    background-color: transparent;
  }

  .footer a {
    color: white;
  }

  .grid-container {
    grid-template-columns: 20% 1fr 10%;
    grid-template-areas:
      "sidebar main-content blank"
      "sidebar main-content blank"
      "sidebar footer blank";
  }

  .blank {
    display: block;
    grid-area: blank;
  }

  /* Sidebar content styling */
  .sidebar {
    display: block;
    grid-area: sidebar;
    background-color: rgba(80, 0, 0, 0.8);
    text-transform: capitalize;
  }

  .sidebar a {
    text-decoration: none;
    color: #5b6236;
    text-align: center;
    padding: 5px 0px;
  }

  .sidebar a:hover {
    color: #fce300;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .sidebar div.sidebar-brand {
    height: 15%;
    text-align: center;
  }

  .sidebar a.tamba-brand {
    font-size: 25pt;
  }

  .sidebar div.sidebar-main-links {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .sidebar div.sidebar-main-links a {
    font-size: 15pt;
  }

  .sidebar div.sidebar-account-links {
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #section-home .sidebar a.nav-home,
  #section-lessons .sidebar a.nav-lessons,
  #section-competitions .sidebar a.nav-competitions,
  #section-song-and-dance .sidebar a.nav-song-and-dance,
  #section-performance-team .sidebar a.nav-performance-team {
    color: #5b6236;
  }

  #section-home .sidebar a.nav-home:hover,
  #section-lessons .sidebar a.nav-lessons:hover,
  #section-competitions .sidebar a.nav-competitions:hover,
  #section-song-and-dance .sidebar a.nav-song-and-dance:hover,
  #section-performance-team .sidebar a.nav-performance-team:hover {
    color: #fce300;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  /* add a block of color around the navigational links, but not the website brand */
  #section-lessons a.nav-lessons,
  #section-competitions a.nav-competitions,
  #section-song-and-dance a.nav-song-and-dance,
  #section-performance-team a.nav-performance-team {
    background-color: rgba(0, 60, 113, 0.4);
  }
}
