body{
    font-family: 'Nanum Gothic', sans-serif;
    background-color: rgba(50, 0, 0, 0.2);
}

.navbar{
    background-color: #500000;
    font-family: 'Nanum Gothic', sans-serif;
}

.navbar a.navbar-brand {
    color: white;
}

.navbar a.navbar-brand:hover {
    color: #5B6236;
}

.navbar .btn-secondary{
    background-color: #5B6236;
    border-color: white;
}

.navbar .btn-primary{
    background-color: #003C71;
    border-color: white;
}

.navbar a.btn-primary:hover{
    border-color: #5B6236;
}

.navbar a.btn-secondary:hover{
    border-color: #003C71;
}

.navbar #navbarNavDropdown ul li a{
    color: white;
}

.navbar #navbarNavDropdown ul:hover li:hover a:hover{
    color: #5B6236;
}

#section-home .nav-home,
#section-lessons #navbarNavDropdown .nav-lessons,
#section-competitions #navbarNavDropdown .nav-competitions,
#section-song-and-dance #navbarNavDropdown .nav-song-and-dance,
#section-performance-team #navbarNavDropdown .nav-performance-team {
    color: #FCE300;
}

#section-home a.nav-home:hover,
#section-lessons #navbarNavDropdown a.nav-lessons:hover,
#section-competitions #navbarNavDropdown a.nav-competitions:hover,
#section-song-and-dance #navbarNavDropdown a.nav-song-and-dance:hover,
#section-performance-team #navbarNavDropdown a.nav-performance-team:hover {
    color: #5B6236;
}