.main-content {
  display: grid;
  grid-template-rows: 10% 1fr;
  grid-template-areas:
    "title"
    "content";
}

.main-content h4 {
  display: inline-block;
  padding: 5px 10px;
}

.main-content p {
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
}

.main-content .title {
  grid-area: title;
}


.main-content .content {
  grid-area: content;
  text-align: left;
  justify-content: space-around;
}